.footer {
  background-color: hsl(171, 100%, 41%);
  height: 20px;
  color: white;
}

.card p {
  word-break: break-word;
}

#options {
  margin-top: 10px;
}

#listagem {
  margin-bottom: 10px;
}

#btn-login-logout {
  margin-right: 5px;
  margin-top: 5px;
  background-color: Transparent;
  color: white;
  font-size: bold;
  border: solid 1px;
}

#form-login {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#status-login {
  top: 2px;
}

#field-login {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  
}

#box-login {
  margin-top: 2rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#box-login button, #box-busca button{
  background:  hsl(171, 100%, 41%);
}

#box-busca {
  margin-top: 1rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}